# python -m pip install absl-py attrs audioread batch-face certifi cffi charset-normalizer colorama contourpy cycler decorator ffmpeg-python filelock flatbuffers fonttools fsspec future ghc idna intel-openmp jax jaxlib Jinja2 joblib kiwisolver lazy_loader librosa llvmlite MarkupSafe matplotlib mediapipe mkl ml_dtypes mpmath msgpack networkx numba numpy opencv-contrib-python opencv-python opencv-transforms opt_einsum packaging pandas pillow pip platformdirs pooch protobuf pycparser pyparsing python-dateutil pytz requests scikit-learn scipy sentencepiece setuptools six sixdrepnet sounddevice soundfile soxr sympy tbb threadpoolctl torch torchvision tqdm typing_extensions tzdata urllib3 wheel
absl-py
attrs
audioread
batch-face
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
decorator
ffmpeg-python
filelock
flatbuffers
fonttools
fsspec
future
ghc
idna
intel-openmp
jax
jaxlib
Jinja2
joblib
kiwisolver
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
mediapipe
mkl
ml_dtypes
mpmath
msgpack
networkx
numba
numpy
opencv-contrib-python
opencv-python
opencv-transforms
opt_einsum
packaging
pandas
pillow
pip
platformdirs
pooch
protobuf
pycparser
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
sentencepiece
setuptools
six
sixdrepnet
sounddevice
soundfile
soxr
sympy
tbb
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
wheel
